title = "Movie single"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Nasteka\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}

<div class="container">
    <h2>{{ record.name }} <strong>{{ record.year }}</strong></h2>
    <hr>
    <div class="row">
        <div class="col-sm">
            {% if record.poster %}
            <img src="{{ record.poster.thumb(300,auto) }}" alt="" >
                {% else %}
            <img src="{{ '/storage/app/media/no-image-icon.png'|app }}" alt="" width="300">
            {% endif %}

            <hr>

            {% if record.movie_gallery is not empty %}
            <h2>Gallery</h2>

            <!--   Image Gallery       -->
            <!-- Page Content -->
            <div class="container">

                <hr class="mt-2 mb-5">

                <div class="row text-center text-lg-left">
                    {% for image in record.movie_gallery %}

                    <div class="col-lg-3 col-md-4 col-6 thumb">
                        <a href="#" class="d-block mb-4 thumbnail"
                           target="_blank"
                           data-toggle="modal"
                           data-image-id=""
                           data-image="{{ image.path }}"
                           data-target="#image-gallery"
                        >
                            <img class="img-fluid img-thumbnail" src="{{ image.path }}" alt="">
                        </a>
                    </div>
                    {% endfor %}


                </div>

            </div>
            <!-- /.container -->

            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="mx-auto d-block" src="" >
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                            </button>

                            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            <!--   Image Gallery   END   -->

        </div>
        <div class="col-sm">
            <!-- Genres -->
            {% if record.genres is not empty %}
            <h3>Genres</h3>

            <ul>
            {% for genre in record.genres %}
                <li> <a href="/genres/{{ genre.slug }}">{{ genre.genre_title }}</a> </li>
            {% endfor %}
            </ul>

            {% endif %}

            <!--  Description -->
            <h3>Description</h3>
            <p>{{ record.description|raw }}</p>

        </div>

    </div>
</div>


{% else %}
    {{ notFoundMessage }}
{% endif %}
